@model TrashCollector.Models.ApplicationUser
@{
    ViewBag.Title = "Billing Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1><bold>@ViewBag.Title.</bold></h1>

<br />
<br />


<h3>
    Current Bill: @string.Format("{0:C}", @Html.DisplayFor(m => m.CurrentBill))
</h3>
<br />
<h2>
    Would you like to pay your bill right now? 
</h2>
<br />
@Html.ActionLink(" Pay Bill ", "PayBill", "Schedule", new { id = Model.Id }, new { @class = "btn btn-primary" })



@*Tried to figure out how to have a pop up confirmation box or use a modal to view hidden confirmation but it didn't work*@



@*<form id="form1" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:Button ID="btnShow" runat="server" Text="Show Modal Popup" />

    <!-- ModalPopupExtender -->
    <cc1:ModalPopupExtender ID="mp1" runat="server" PopupControlID="Panel1" TargetControlID="btnShow"
                            CancelControlID="btnClose" BackgroundCssClass="modalBackground">
    </cc1:ModalPopupExtender>
    <asp:Panel ID="Panel1" runat="server" CssClass="modalPopup" align="center" style="display:none">
        This is an ASP.Net AJAX ModalPopupExtender Example<br />
        <asp:Button ID="btnClose" runat="server" Text="Close" />
    </asp:Panel>
    <!-- ModalPopupExtender -->
</form>*@






@*<button id="myModal", class = "btn btn-primary"> Pay Bill </button>
<br />
<br />
<div id="myModal" class="modal">
    <div class="modal-content">
    <span class="close">&times;</span>
        <div>@Html.ActionLink(" Pay Bill ", "PayBill", "Schedule", new { id = Model.Id }, new { @class = "btn btn-default" })</div>
</div>
</div>*@







    @*@Ajax.ActionLink(
            " Pay Bill ",
            "Load",
            "Schedule",
            new AjaxOptions { UpdateTargetId = "result" },
            new { @class = "btn btn-primary" }
        )

        <br />
        <br />
        <br />
        <br />
        <div id="result"></div>
        @Html.Partial("_AdminPartialView")

        <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>*@







    @*@Html.ActionLink(" Pay Bill ", "PayBill", "Schedule", new { onclick = "return confirm()" }, new { @class = "btn btn-primary" })

        <a href="javascript:confirmation();"> Pay Bill </a>

        <script>
        function confirmation() {
         var answer = confirm("Are you sure you want your account charged?")
         if(answer) {
          // Do something here, post or get
          window.location = @Url.Action("PayBill", "Schedule");
         }
        }
        </script>*@
