@model IEnumerable<TrashCollector.Models.ApplicationUser>



@{
    ViewBag.Title = "RouteByZipCode";
}


<div class="row">
    <div class="col-md-6">
        <bold><h1>Pickups By ZipCode</h1></bold>
    </div>
    <div class="col-md-6">
    </div>
    @using (Html.BeginForm("RouteByZipCode", "RouteMap", FormMethod.Post, new { id = "TheForm" }))
    {
    <br />
    <br />
        <div>
            @Html.DropDownList("ZipCode", new SelectList(ViewBag.ZipCodes), " Select ZipCode ", new
       {
           onchange = "document.getElementById('TheForm').submit();"
       })
        </div>
    }
</div>
<br />
<br />
<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            Address
        </th>
        <th>
            Pickup Day
        </th>
    </tr>

    @foreach (var item in Model.Where(m => m.StartDate != ""))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CombineAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>

        </tr>
    }

</table>